body {
  display: grid;
  grid-template-columns: 2fr 1fr;

  align-items: center;
  justify-items: center;

  margin: 40px;
}

.gameboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 800px;
}

.cell {
  width: 100px;
  height: 100px;

  /* border: 1px solid black; */
}

.black-cell {
  background-color: darkgray;
}

.white-cell {
  background-color: aliceblue;
}

.start-cell {
  background: url(../img/f_knight.png);
  background-size: cover;
}
.end-cell {
  background-color: red;
}
